/* 
 * Font files should be placed in: wp-content/plugins/atera-compact-calculator/assets/fonts/
 * 
 * If font files are missing, the browser will use fallback fonts (system-ui, Arial, etc.)
 * This will cause 404 errors in the console but won't break functionality.
 */
@font-face {
	font-family: "Nekst";
	src: url("../fonts/nekst/Nekst-Bold.woff2") format("woff2"),
	     url("../fonts/nekst/Nekst-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Nekst";
	src: url("../fonts/nekst/Nekst-Medium.woff2") format("woff2"),
	     url("../fonts/nekst/Nekst-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Nekst";
	src: url("../fonts/nekst/Nekst-SemiBold.woff2") format("woff2"),
	     url("../fonts/nekst/Nekst-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gellix";
	src: url("../fonts/gellix/Gellix-Regular.woff2") format("woff2"),
	     url("../fonts/gellix/Gellix-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: "Gellix";
	src: url("../fonts/gellix/Gellix-SemiBold.woff2") format("woff2"),
	     url("../fonts/gellix/Gellix-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: optional;
}


